/* Box margin with navbar height calculation */
/* .box-mrg {
    margin-top: calc(-1 * var(--navbar-height, 109px));
} */

/* Responsive navbar height adjustments */



    .box-mrg {
            height: calc(100vh - 109px);
    }

